h1{
    text-align: center;
    margin: 5%;
   
}
section{
display: flex;
}
figure{
    width: 33%;
}
figcaption{
   text-align: center;
   font-weight: bold;
}
img{
    width: 100%;
    object-fit: contain;
}
button {
    background: #da7371;
    color: white;
    border: none;
    border-radius: 5rem;
    padding: 3% 12%;
  }
  
  button:hover {
    cursor: pointer;
    background: #d04b49;
  }